In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('/Users/raimirsilva/Documents/GitHub/Sprints Projects/Sprint-6-project/games.csv')

In [12]:
display(df)

print()

df.info(show_counts=True)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

Contagem de valores ausentes

Verificação do percentual de valores ausentes por coluna

In [17]:
print(df.isna().sum())

print()

(df.isnull().sum() / len(df)) * 100

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

Name                0.011965
Platform            0.000000
Year_of_Release     1.609333
Genre               0.011965
NA_sales            0.000000
EU_sales            0.000000
JP_sales            0.000000
Other_sales         0.000000
Critic_Score       51.319174
User_Score         40.089740
Rating             40.478612
dtype: float64

Interpretações:

Colunas com poucos ou nenhum valor ausente:

Platform (0.00%): Todas as linhas têm informação de plataforma
NA_sales, EU_sales, JP_sales, Other_sales (0.00%): Todas as vendas estão registradas
Name (0.011965%): Quase todos os jogos têm nome (apenas ~0.01% sem nome)
Genre (0.011965%): Quase todos os jogos possuem gênero definido

Colunas com valores ausentes moderados:

Year_of_Release (1.609333%): ~1.6% dos jogos não têm ano de lançamento

Colunas com muitos valores ausentes:

Critic_Score (51.319174%): Mais da metade dos jogos (~51%) não têm avaliação de críticos
User_Score (40.089740%): ~40% não têm avaliação de usuários
Rating (40.478612%): ~40% não têm classificação ESRB

Conversão dos caracteres dos nomes das colunas para caracteres minúsculos

In [28]:
df_lower_case = df.copy()

df_lower_case.columns = df_lower_case.columns.str.lower()

display(df_lower_case)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

Contagem de dados duplicados

In [41]:
dupl_qnt = df_lower_case.duplicated(subset=['name', 'platform', 'year_of_release']).sum()

print(f'Quantidade de valores duplicados encontrados: {dupl_qnt}')

Quantidade de valores duplicados encontrados: 2

Identificação de dados duplicados

In [38]:
display(df_lower_case[df_lower_case.duplicated(subset=['name', 'platform', 'year_of_release'], keep=False)].sort_values(by='name'))

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
604,Madden NFL 13,PS3,2012.0,Sports,2.11,0.22,0.00,0.23,83.0,5.5,E
16230,Madden NFL 13,PS3,2012.0,Sports,0.00,0.01,0.00,0.00,83.0,5.5,E
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,NaN,NaN,NaN
14244,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,NaN,NaN,NaN

Tratamento de dados duplicados

In [42]:
df_wo_dupl = df_lower_case.drop_duplicates(subset=['name', 'platform', 'year_of_release'], keep='first')

refreshed_dupl_qnt = df_wo_dupl.duplicated(subset=['name', 'platform', 'year_of_release']).sum()

print(f'Após tratamento dos dados, a quantidade de valores duplicados é: {refreshed_dupl_qnt}')

Após tratamento dos dados, a quantidade de valores duplicados é: 0

Foram identificados: 

valores ausentes em quantidade significativa em 3 colunas (Critic_Score, User_Score e Rating) 

nomes das colunas com letras maiúsculas e minúsculas

situações isoladas de valores duplicados


Pontos específicos: 

converter a coluna Year_of_Release de float para int

manter as colunas de vendas em float para cálculos mais precisos

a coluna User_Score traz o dado 'tbd' (to be determined), serão convertidos em valores NaN